.image-slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

.previous-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.previous-button {
  left: 0;
}

.next-button {
  right: 0;
}