@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monaco:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-manrope: Manrope;
  --font-monaco: Monaco;
  --font-unbounded: Unbounded;

  /* font sizes */
  --font-size-10xl-6: 29.6px;
  --font-size-lg: 18px;
  --font-size-16xl: 35px;
  --font-size-25xl-4: 44.4px;
  --font-size-44xl-2: 63.2px;
  --font-size-81xl: 100px;
  --font-size-171xl-5: 190.5px;
  --font-size-19xl-7: 38.7px;
  --font-size-29xl-9: 48.9px;
  --font-size-21xl: 40px;
  --font-size-16xl-6: 35.6px;
  --font-size-72xl-9: 91.9px;

  /* Colors */
  --color-whitesmoke-100: #f3f3f3;
  --color-whitesmoke-200: #ebebeb;
  --color-white: #fff;
  --color-black: #000;
  --color-cadetblue: #557d71;
  --color-gray-100: #8b8b8b;
  --color-gray-200: #898989;
  --color-gray-300: #7b7b7b;
  --color-gray-400: rgba(255, 255, 255, 0.7);
  --color-darkslategray-100: #494949;
  --color-darkslategray-200: #353535;
  --color-darkslategray-300: #323232;
  --color-lightgoldenrodyellow: #caf0be;
  --color-dimgray: #6e6e6e;
  --color-darkseagreen: #b4dca8;

  /* Gaps */
  --gap-6xs: 7px;
  --gap-32xl: 51px;
  --gap-28xl: 47px;
  --gap-7xl: 26px;
  --gap-2xl: 21px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-27xl: 46px;
  --gap-12xs: 1px;
  --gap-xl: 20px;
  --gap-lg: 18px;

  /* Paddings */
  --padding-56xl: 75px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-lgi: 19px;
  --padding-35xl: 54px;
  --padding-base: 16px;
  --padding-smi: 13px;

  /* border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-6xs: 7px;
}
